* {
    font-family: sans-serif;
}
body, html {
  max-width: 120rem; 
    margin: 0 auto; 
    padding: 0;   
}

.logo {
     width: 7.5rem;
    height: 3.1rem;
    background-color: rgba(240, 237, 255, 1);
    display: flex;
  justify-content: center;
  align-items: center;  
  margin-right: 5.2rem;

   
}
.logo-text {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  color: #5B47D1;
}
.nav { 
    justify-content: center;
    align-items: center;
    display: flex;
}
.navigation ul {
    display: flex;
  justify-content: center; 
  list-style-type: none;  
  padding: 0;            
  margin: 0; 
  gap: 1rem;
}

.navigation a {
    text-decoration: none;
    color: black;
}
.hero {
    height: 25rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(./e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: rgba(255, 255, 255, 1);
}
.hero h1 {
    height: 3.6rem;
    line-height: 100%;
    font-size: 2rem;
    letter-spacing: 0;
     margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.hero p {
    height: 1.5rem;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0;
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.cards-section h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.25rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 247, 1);
    padding-bottom: 151px;
   
}
.card {
    width: 22.5rem;
    height: 29.5rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
   
}
.card-image {
    height: 15rem;
    background-color: rgba(199, 184, 255, 1);
}
.cards-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
   grid-gap: 1.8rem;
   justify-content: center;
   align-items: center;
   
}

.card-text h3 {
    margin-left: 1rem;
    text-align: left;
font-weight: 600;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
line-height: normal;

}
.card-text p {
    margin-left: 1rem;
font-weight: 400;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
width: 303px;
height: 90px;
line-height: normal;

}

.card-meta {
    margin-left: 1rem;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 1rem;
}

.date {
    margin-right: 28px;
}


.footer { 
  background-color: rgba(37, 36, 36, 1);
  margin: 0;
  color: #fff;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 57px 120px;

  display: flex;
  justify-content: space-between;   
  gap: 60px;
}

.footer-col {
  display: flex;   
  gap: 60px;
}

.footer-text {
  max-width: 296px;
  font-size: 14px;
  line-height: 1.6;
  color: rgba(161, 161, 166, 1);
}

.footer-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: rgba(134, 134, 139, 1);
}

.footer-bottom {
  background-color: #000;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(134, 134, 139, 1);
  border-top: 1px solid #2a2a2a;
}
